//functionality
//shows and hides based on the state of the widget

#va-widget,
#va-bidget {
  box-sizing: border-box;
  position: relative;
  *,
  *:after,
  *:before {
    box-sizing: inherit;
    position: relative;
  }
  max-width: 600px;
  margin: 0 auto;
  max-height: 600px;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  .automation {
    position: relative;
    .automation-content {
      z-index: auto;
    }
  }
  //--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
  //controlls the view
  &[data-state="list"] .automation-emails {
    position: absolute;
    visibility: hidden;
    top: 0;
    //transform: translate(-200%, 0) scaleY(0);
    transform: scaleY(0);
  }
  &[data-state="list"] .automation-stats {
    position: absolute;
    visibility: hidden;
  }
  &:not([data-state="list"]) > li:not([data-active]) {
    position: absolute;
    visibility: hidden;
  }
  &:not([data-state="list"]) {
    > .automation[data-active] {
      position: relative;
      visibility: visible;

      //controls the toggling of automation state [emails] || [stats]
      //shows the emais
      &[data-automationview="emails"] {
        //show emails
        .automation-emails {
          position: relative;
          visibility: visible;
        }
        //hide stats
        .automation-stats {
          visibility: hidden;
          position: absolute;
          transform: scaleY(0);
          top: 0;
        }
      }
      //shows the stats listed
      &[data-automationview="stats"] {
        //hide emails
        .automation-emails {
          position: absolute;
          visibility: hidden;
          // transform: translate(0%, 0) scale(0);
          transform: scaleY(0);
          top: 0;
        }
        //show stats
        .automation-stats {
          visibility: visible;
          position: relative;
          transform: scale(1);
        }
      }
    }
  } //end of automation view

  //--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
  //hides and shows the automation navigation
  .automation-nav {
    visibility: hidden;
    position: absolute;
    top: 0;
    transform: scaleY(0);
  }
  &:not([data-state="list"]) > [data-active] {
    .automation-nav {
      position: relative;
      visibility: visible;
      transform: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }
  }
  //--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
} //end of #va-widget functional styles

#va-widget,
#va-bidget {
  .bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
    pointer-events: none;
    border-radius: 8px;
    box-shadow: 0 1vmin 1vmin rgba(black, 0.12);
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background: var(--color);
    }
  }

  .automation-overview {
    z-index: 3;
  }
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  .automation {
    position: relative;
    margin: 10px auto 0;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 14px;
    position: relative;

    .label {
      font-size: 70%;
      width: 100%;
      display: block;
      z-index: 3;
    }
    border-radius: 8px;
    .back {
      font-size: 20px;
      font-weight: 100;
    }
    .label {
      font-size: 70%;
      width: 100%;
      display: block;
    }
    .automation-details {
      z-index: 3;
      padding: 5px;
      display: flex;
      .detail {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 50px;
      }
    }
    .automation-name {
      z-index: 3;
      cursor: pointer;
      h3 {
        line-height: 1.2;
        margin: 10px 0;
        font-size: 18px;
        color: var(--color);
      }
    }
    .automation-name:hover h3 {
      color: var(--color);
    }
    //--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
    //controls color var based on status
    &[data-status="paused"] {
      --color: #b77777;
    }
    &[data-status="sending"] {
      --color: #77b777;
    }
    &[data-status="save"] {
      --color: #7777b7;
    }
    [data-detail="status"] {
      .label {
        color: black;
      }
      color: var(--color);
    }
  }
  //for viewing the single automation
  &:not([data-state="list"]) {
    > .automation[data-active] {
      .bg {
        &:after {
          opacity: 0;
        }
      }
      padding: 0;
      padding-bottom: 20px;
      .automation-overview {
        z-index: 3;
        padding: 15px;
        border-bottom: 2px solid var(--color);
        background: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        h3 {
          font-size: 24px;
          color: var(--color);
        }
        margin-bottom: 20px;
      }
      .email {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        padding-top: 35px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0.5vmin 1vmin rgba(black, 0.12);
        position: relative;
        &:not(:first-child) {
          margin-top: 50px;
          &:before {
            content: "";
            width: 0px;
            height: 30px;
            position: absolute;
            top: -40px;
            left: 50%;
            border-left: 2px solid var(--color);
          }
        }
        .position {
          position: absolute;
          left: 90%;
          top: 5%;
          color: var(--color);
          font-size: 30px;
        }
        .email-title {
          width: 90%;
          color: black;
          font-size: 18px;
          margin: 0;
        }
        .email-automation-filter {
          display: none;
        }
        &:first-child {
          .email-automation-filter {
            display: block;
            background: #efefe9;
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: -20px;
            padding: 20px;
            span {
              font-weight: bold;
              font-size: 0.85rem;
            }
          }
        }
      }
    }
    //for viewing the autmation's stats

    li.stat {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 10px;
      padding: 20px;
      background: white;
      border-radius: 8px;
      box-shadow: 0 0.5vmin 1vmin rgba(black, 0.12);
      position: relative;

      //inside-layout
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
    }
    .stat__label {
      color: var(--color);
    }
  }
}
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//deals with the animation to and from states
.automation {
  opacity: 1;
  transform: none;
  transition: opacity 0.5s linear 0.03s,
    transform 0.3s cubic-bezier(0.5, 0, 0.5, 1) 0s;
  .email {
    opacity: 0;
    transition: opacity 0.3s linear calc(var(--delay) * 0.2s);
  }
  .stat {
    opacity: 0;
    transition: opacity 0.3s linear calc(var(--delay) * 0.1s);
  }
}

.automations:not([data-state="list"]) {
  .automation[data-active] {
    transform: none;
    &[data-automationview="stats"] {
      .email {
        opacity: 0;
      }
      .stat {
        opacity: 1;
      }
    }
    &[data-automationview="emails"] {
      .email {
        opacity: 1;
      }
      .stat {
        opacity: 0;
      }
    }
  }
  .automation:not([data-active]) {
    transform: translate(0, -600px) scaleY(0);
    transition: opacity 0s linear 0s,
      transform 0.3s cubic-bezier(0.5, 0, 0.5, 1) 0s;
    .email,
    .stat {
      opacity: 0;
      position: absolute;
    }
    > * {
      position: absolute;
    }
  }
  & li[data-active] ~ .automation:not([data-active]) {
    transform: translate(0, 600px) scaleY(0);
  }
}
