//functionality
//shows and hides based on the state of the widget

#wpcontent {
  padding-left: 0;
}

#va-widget,
#va-bidget {
  box-sizing: border-box;
  position: relative;
  *,
  *:after,
  *:before {
    box-sizing: inherit;
    position: relative;
  }
  max-width: 100%;
  height: 90vh;

  .automation-list,
  .automation-viewer {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: visible !important;
    padding: 5px;
  }

  .automation-list-item[data-active] {
    .bg {
      background: #efefef;
    }
  }
  .automation {
    width: 100%;
    display: none;

    ///when its active apply these styles
    &[data-active] {
      display: block;
      .bg:after {
        opacity: 0;
      }
      box-shadow: 0 0 0 transparent;

      padding: 0;
      padding-bottom: 20px;
      .automation-overview {
        z-index: 3;
        padding: 15px;
        border-bottom: 2px solid var(--color);
        h3 {
          font-size: 24px;
          color: var(--color);
        }
        margin-bottom: 20px;
      }
      .email {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        padding-top: 35px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0.5vmin 1vmin rgba(black, 0.12);
        visibility: hidden;
        position: absolute;
        &:not(:first-child) {
          margin-top: 50px;
          &:before {
            content: "";
            width: 0px;
            height: 30px;
            position: absolute;
            top: -40px;
            left: 50%;
            border-left: 2px solid var(--color);
          }
        }
        .position {
          position: absolute;
          left: 90%;
          top: 5%;
          color: var(--color);
          font-size: 30px;
        }
        .email-title {
          width: 90%;
          color: black;
          font-size: 18px;
          margin: 0;
        }
        .email-automation-filter {
          display: none;
        }
        &:first-child {
          .email-automation-filter {
            display: block;
            background: #efefe9;
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: -20px;
            padding: 20px;
            span {
              font-weight: bold;
              font-size: 0.85rem;
            }
          }
        }
      }
      .stat {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0.5vmin 1vmin rgba(black, 0.12);
        visibility: hidden;
        position: absolute;
        //inside-layout
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
      }
      .stat__label {
        color: var(--color);
      }

      ///toggles email and stat view
      &[data-automationview="emails"] .email {
        visibility: visible;
        position: relative;
      }
      &[data-automationview="stats"] .stat {
        visibility: visible;
        position: relative;
      }
    }

    .automation-content {
      z-index: auto;
    }
  }
}
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//

#va-widget {
  padding: 10px;
  padding: 10px;

  //--/--/--/--/--/--/--/
  //layout
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 20px;

  .automation-viewer {
    display: grid;
    grid-template: 1fr / 1fr;
    > .automation {
      grid-row: 1/-1;
      grid-column: 1/-1;
    }
  }
  // end of layout
  //--/--/--/--/--/--/--/--/-

  .automation,
  .automation-list-item {
    margin: 10px auto 0;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 14px;
    .bg {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      min-width: 100%;
      height: 100%;
      background: white;
      z-index: 0;
      pointer-events: none;
      border-radius: 8px;
      box-shadow: 0 1vmin 1vmin rgba(black, 0.12);
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        background: var(--color);
      }
    }
    .automation-overview {
      z-index: 3;
    }
    .label {
      font-size: 70%;
      width: 100%;
      display: block;
      z-index: 3;
    }
    border-radius: 8px;
    .back {
      font-size: 20px;
      font-weight: 100;
    }
    .label {
      font-size: 70%;
      width: 100%;
      display: block;
    }
    .automation-details {
      z-index: 3;
      padding: 5px;
      display: flex;
      .detail {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 50px;
      }
    }
    .automation-name {
      z-index: 3;
      cursor: pointer;
      h3 {
        line-height: 1.2;
        margin: 10px 0;
        font-size: 18px;
        color: var(--color);
      }
    }
    .automation-name:hover h3 {
      color: var(--color);
    }
    //--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
    //controls color var based on status
    &[data-status="paused"] {
      --color: #b77777;
    }

    &[data-status="sending"] {
      --color: #77b777;
    }
    &[data-status="save"] {
      --color: #7777b7;
    }
    [data-detail="status"] {
      .label {
        color: black;
      }
      color: var(--color);
    }
  }
}

//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//deals with the animation to and from states
